.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
	width: 100%;
	min-height: 93px;
  padding: 10px 15px 15px;
	background:
		linear-gradient(90deg, #f8f9fa 49.52%, rgb(188 228 253 / 50%) 100%),
		url('../../assets/images/city-image.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	border: 1px solid #e9ecef;
	border-radius: 10px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 24px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto','Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
    background-color: #E9ECEF;
    border-radius: 5px;
  }

  &__status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }

  &__stop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
  }

  &__stopname {
    padding: 0;
    color: #202020;
    font-weight: 400;
    font-size: 10px;
    font-family: 'Roboto','Arial', sans-serif;
    line-height: 1.2;
    letter-spacing: 0;
  }
}
