.history-transport-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 54px;
    color: var(--fifth-text-color);
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    aspect-ratio: 290/54;
    transition: all 0.2s linear;
  }
}