.map-page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 15px 15px;
  background-color: var(--second-background-color);
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--border-color);
  transition: all 0.2s linear;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 290px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    aspect-ratio: 1/1;
    transition: border-color 0.2s linear;
  }

  &__map {
    width: 100%;
    min-height: 208px;
    aspect-ratio: 290/208;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    min-height: 82px;
    padding: 22px 15px;
    background-color: var(--legend-background-color);
    border-top: 1px solid var(--border-color);
    aspect-ratio: 290/82;
  }

  &__legend-elem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  &__legend-text {
    color: var(--first-text-color);
    font-weight: 400;
    font-size: 12px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.17;
    letter-spacing: 0;
    transition: color 0.2s linear;
  }

  &__near-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 29px;
  }

  &__near-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-self: flex-start;
    gap: 10px;
  }

  &__near-subtitle {
    color: var(--first-text-color);
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.17;
    letter-spacing: 0;
    transition: color 0.2s linear;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    text-decoration: none;
  }

  &__link-text {
    color: #3498DB;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.17;
    letter-spacing: 0;
  }
}