.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 61px;
	padding: 0 15px;
	background-color: #ffffff;
	transition: box-shadow 0.3s ease;

	&_scrolled {
		box-shadow: 0 3px 8px 1px rgb(0 0 0 / 25%);
	}

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		padding: 0;
		background-color: #f8f9fa;
		border: none;
		border-radius: 50%;
		transition: all 0.3s;

		&:hover {
			background-color: #f1f1f1;
		}
	}

	&__buttonIcon {
		width: 19px;
		height: 19px;
	}
}
