.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 36px;
    padding: 10px;
    background-color: #F8F9FA;
    border: 1px solid #E9ECEF;
    border-radius: 10px;
    aspect-ratio: 290/36;
    transition: all 0.1s ease;

    &_on {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &__text {
    color: black;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.14;
    letter-spacing: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 10px 15px;
    background-color: #F8F9FA;
    border-right: 1px solid #E9ECEF;
    border-bottom: 1px solid #E9ECEF;
    border-left: 1px solid #E9ECEF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__fieldset {
    padding-block: 0;
    padding-inline: 0;
    margin-inline: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  &__subtitle-gray {
    color: #6C757D;
    font-weight: 400;
    font-size: 12px;
    font-family: "Roboto", 'Arial', sans-serif;
    line-height: 1.17;
    letter-spacing: 0;
  }

  &__subtitle {
    color: black;
    font-weight: 500;
    font-size: 12px;
    font-family: "Roboto", 'Arial', sans-serif;
    line-height: 1.17;
    letter-spacing: 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
  }

  &__time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
    padding-left: 10px;
    color: black;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
    background-color: #F8F9FA;
    border: 1px solid #E9ECEF;
    border-radius: 10px;
    outline: none;
    aspect-ratio: 129/35;

    &::placeholder {
      color: #6C757D;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    width: 100%;
    margin-top: 10px;
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 36px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
    background-color: #3498DB;
    border: none;
    border-radius: 10px;
    outline: none;
    aspect-ratio: 290/36;
  }

  &__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    min-height: 36px;
    background-color: white;
    border: 1px solid #DD4D4D;
    border-radius: 10px;
    outline: none;
    aspect-ratio: 290/36;
  }

  &__delete-text {
    color: #DD4D4D;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
  }
}

