@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.select {
  width: 100% !important;
  height: 35px !important;

  &__placeholder {
    color: #6C757D !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    line-height: 1.17 !important;
    letter-spacing: 0 !important;
  }

  &__input {
    width: 100% !important;
    margin: 0 !important;
    color: #000000 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    line-height: 1.17 !important;
    letter-spacing: 0 !important;
  }

  &__single-value {
    color: #000000 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    line-height: 1.17 !important;
    letter-spacing: 0 !important;
  }

  &__control {
    flex-wrap: nowrap !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 35px !important;
    min-height: 35px !important;
    margin: 0 !important;
    overflow-x: hidden !important; ;
    background-color: #F8F9FA !important ;
    border: 1px solid #E9ECEF !important ;
    border-radius: 10px !important;
    box-shadow: none !important;
    transition: all 0.2s !important;
  }

  &__value-container {
    flex-wrap: nowrap !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 0 0 8px !important;
    overflow-x: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    cursor: text !important;

    &--is-multi {
      width: 100% !important;
      overflow: hidden !important;
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
    }

    &--has-value {
      width: 100% !important;
      overflow: hidden !important;
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
    }
  }

  &__input-container {
    flex-wrap: nowrap !important;
    width: 100% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
  }

  &__indicator-separator {

  }

  &__indicators {
    height: 100% !important;
    cursor: pointer !important;
  }

  &__indicator {
    padding: 4px !important;
    color: #3498DB99 !important;
  }

  &__multi-value {
    flex-wrap: nowrap !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    background-color: #3498DB99 !important ;
    border-radius: 10px !important;

    &__label {
      color: white !important;
      font-weight: 400 !important;
      font-size: 12px !important;
      font-family: 'Roboto', 'Arial', sans-serif !important;
      line-height: 1 !important;
      letter-spacing: 0 !important;
    }

    &__remove {
      color: white !important;
    }
  }

  &__menu {
    margin-top: 2px !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
    background-color: #F8F9FA !important;
    border: 1px solid #E9ECEF !important ;
    border-radius: 10px !important;
    box-shadow: none !important;
    animation: scaleIn 0.3s ease-in-out;
  }

  &__menu-list {
    max-height: 150px !important;
    padding: 0 !important;
    overflow: auto !important;
  }

  &__option {
    padding: 8px !important ;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    line-height: 1 !important;
    letter-spacing: 0 !important;
    background-color: transparent !important;
    border-radius: 10px !important;
    transition: background-color 0.05s linear !important;

    &--is-focused {
      background-color: transparent !important;
    }

    &--is-selected {
      background-color: #3498DB !important;
    }
  }
}

