.favorite-transport-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;

  &__transports {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 34px;
    color: #3498DB;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
    background-color: #84CEFF33;
    border: none;
    border-radius: 10px;
    outline: none;
    aspect-ratio: 290/34;
  }
}