.favorite-empty {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 75px;

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: linear-gradient(
                    270deg,
                    rgb(52 152 219 / 80%) 0%,
                    #3498db 100%
    );
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }

  &__star {
    width: 55px;
    height: 55px;
  }

  &__empty-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__empty-title {
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.19;
    letter-spacing: 0;
    text-align: center;
  }

  &__empty-text {
    color: #808080;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.14;
    letter-spacing: 0;
    white-space: pre-line;
    text-align: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 36px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    background-color: #3498DB;
    border-radius: 10px;
  }
}

